{% extends 'base.html' %}

{% block title %}Team{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Hjem</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
        {% if user.is_authenticated %}
          <li><a href="/profile">My profile</a></li>
          <li class="active"><a href="/team">My team</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="/profile">  {{ user.get_username }}</a></li>
          <li><a href="{% url 'logout'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

    <div class="col-sm-8 text-left">
      {% if user.is_authenticated %}
        <h4>Her kan du skrive indslag til dit teams diary, {{ user.get_username }}</h4>
        {% for post in posts %}
            <h4>{{ post.title }}</h4>
            <p>{{ post.post }}</p>
            <p>Forfatter: {{ post.user }}</p>
        {% endfor %}
      <!--  <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
       <h5> <input type="submit" value="Change description" /></h5>
        </form>
      -->
      {% else %}
        <h4>Du skal være på logget ind for at kunne besøge denne side</h4>
        <h5> <a href="{% url 'login'%}?next={{request.path}}">Login here</h5></a>
      {% endif %}

    </div>

{% endblock %}
