{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Hjem</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
        {% if user.is_authenticated %}
          <li class="active"><a href="/profile">My profile</a></li>
          <li><a href="/team">My team</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="/profile">  {{ user.get_username }}</a></li>
          <li><a href="{% url 'logout'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

    <div class="col-sm-8 text-left">
      {% if user.is_authenticated %}
        <h4>Velkommen til din profil, {{ user.get_username }}</h4>

        <h6><b>Profilbeskrivelse:</b> <br> {{ user.teammember.description }}</h6>
        <h6><b>Addresse:</b> <br> {{ user.teammember.address }}</h6>
        <h6><b>Alder:</b> <br> {{ user.teammember.age }}</h6>

        <form action="/edit_profile">
          <input type="submit" value="Klik her for at redigere din profil" />
        </form>
        <br>
      {% else %}
        <h4>Du skal være på logget ind for at kunne redigere i din profil</h4>
        <h5> <a href="{% url 'login'%}?next={{request.path}}">Login here</h5></a>
      {% endif %}

    </div>

{% endblock %}
