{% extends 'base.html' %}

{% block title %}Frontpage{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Hjem</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
        {% if user.is_authenticated %}
          <li><a href="/profile">My profile</a></li>
          <li class="active"><a href="/team">My team</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout'%}?next=/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

    <div class="col-sm-8 text-left">
      {% if user.is_authenticated %}
        {% if current_teams.all %}
          {% for team in current_teams %}
            <h1>{{ team }}</h1>
            <h6><b>Current members of team;</b></h6>
            {% for member in team.members.all %}
              <h6>{{ member }}</h6>
            {% endfor %}
          {% endfor %}
        {% else %}
          <p>You appear to not be part of any team</p>
        {% endif %}
      {% else %}
        <h1>Du skal være på logget ind for at kunne redigere dit teams profil.</h1>
      {% endif %}
    </div>


    <div class="col-sm-4 sidenav">
      <div class="well">
        <p>Calender</p>
      </div>
      <div class="well">
        <p>Latest post</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
